<div class="cotainer mt-5 pt-5">
    <div class="row justify-content-center">
        <div class="col-md-9">
            <div class="card">
                <div class="card-header">Register</div>
                <div class="card-body">
                    <form #registerForm="ngForm" (ngSubmit)="register(registerForm)" action="" method="">
                        <div class="form-group row">
                            <label for="username" class="col-md-4 col-form-label text-md-right">Username</label>
                            <div class="col-md-6" >
                                <input type="text" [(ngModel)]="username" id="username" class="form-control"
                                     name="username" required>
                                     <div class="col-mt-2">
                                        <div  class="alert alert-danger" *ngIf="registerForm.controls.username?.invalid && (registerForm.controls.username?.touched )">
                                            Username is required
                                        </div>
                                    </div>
                            </div>
                        </div>
                        <div class="form-group row">
                            <label for="password" class="col-md-4 col-form-label text-md-right">Password</label>
                            <div class="col-md-6">
                                <input type="password" (ngModel)="password" id="password" class="form-control"
                                    [(ngModel)]="password" name="password" required>
                                <div class="col-mt-2">
                                    <div  class="alert alert-danger" *ngIf="registerForm.controls.password?.invalid && (registerForm.controls.password?.touched )">
                                        Password is required
                                    </div>
                                </div>
                                <div class="col-mt-2">
                                    <div  class="alert alert-danger" *ngIf="checkPassword(registerForm.value.password) && (registerForm.controls.password?.touched )">
                                        The password field must be at least 5 characters. 
                                    </div>
                                </div>
                                
                            </div>
                        </div>
                        <div class="form-group row">
                            <label for="confirmPassword" class="col-md-4 col-form-label text-md-right">Confirm Password</label>
                            <div class="col-md-6">
                                <input type="password" (ngModel)="confirmPassword" id="confirmPassword" class="form-control"
                                    [(ngModel)]="confirmPassword" name="confirmPassword" required>
                                <div class="col-mt-2">
                                    <div  class="alert alert-danger" *ngIf="registerForm.controls.confirmPassword?.invalid && (registerForm.controls.confirmPassword?.touched )">
                                       Confirm Password is required
                                    </div>
                                </div>
                                <div class="col-mt-2">
                                    <div  class="alert alert-danger" *ngIf="(registerForm.value.password != registerForm.value.confirmPassword) && (registerForm.controls.confirmPassword?.touched )">
                                       The confirm password confirmation does not match.
                                    </div>
                                </div>
                                
                            </div>
                        </div>
                        <div class="form-group row">
                            <label for="name" class="col-md-4 col-form-label text-md-right">Full Name</label>
                            <div class="col-md-6">
                                <input type="text" (ngModel)="name" id="name" class="form-control"
                                    [(ngModel)]="name" name="name" required>
                                <div class="col-mt-2">
                                    <div  class="alert alert-danger" *ngIf="registerForm.controls.name?.invalid && (registerForm.controls.name?.touched )">
                                        Full Name is required
                                    </div>
                                </div>
                                
                            </div>
                        </div>
                        <div class="form-group row">
                            <label for="email" class="col-md-4 col-form-label text-md-right">Email</label>
                            <div class="col-md-6">
                                <input type="text" (ngModel)="email" id="email" class="form-control"
                                    [(ngModel)]="email" name="email" required emailInput>
                                <div class="col-mt-2">
                                    <div  class="alert alert-danger" *ngIf="registerForm.controls.email?.invalid && (registerForm.controls.email?.touched )">
                                        Email is required
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="form-group row">
                            <label for="phone" class="col-md-4 col-form-label text-md-right">Phone</label>
                            <div class="col-md-6">
                                <input type="text" (ngModel)="phone" id="phone" class="form-control"
                                    [(ngModel)]="phone" name="phone" required phoneInput>
                                <div class="col-mt-2">
                                    <div  class="alert alert-danger" *ngIf="registerForm.controls.phone?.invalid && (registerForm.controls.phone?.touched )">
                                        Phone is required
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div  class="form-group row" *ngIf="isRegistered">
                            <div class="col-md-6 offset-md-4" >
                                You have registered.
                            </div>
                        </div>

                        <div  class="form-group row">
                            <div class="col-md-6 offset-md-4" >
                                Do you have an account ?
                                <a [routerLink]="['/login']" >
                                    Sign in
                                 </a>
                            </div>
                        </div>

                       
                        <div class="col-md-6 offset-md-4">
                            <button type="submit" class="btn btn-primary" [disabled]="registerForm.invalid">
                                Register
                            </button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>